view,
input,
textarea,
block,
navigator,
swiper,
swiper-item,
form,
scroll-view,
picker,
picker-view,
checkbox-group,
checkbox,
radio {
	box-sizing: border-box;
}

body {
	background-color: $u-bg-color;
	font-size: 28rpx;
	color: $u-text-main;
}

page {
	background-color: #F8F6F5;
	font-size: 32rpx;
	font-weight: 350;
	width: 100%;
}

img {
	pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
}

::-webkit-scrollbar {
	width: 0 !important;
	height: 0 !important;
	color: transparent !important;
	display: none;
}

button::after {
	border: none;
}

.container {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
}

.text-one-line {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}

.text-two-line {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 全局修改公共组件样式 */
/* 隐藏tab的分割线 */
.uni-tabbar-border {
	display: none !important;
}

/* 全局改变picker自定义picker的确定按钮样式 */
.uni-picker-action-confirm {
	color: #FF7E7B !important;
}

/* 防止ios用户修改微信字体大小导致界面错乱 */
body {
	-webkit-text-size-adjust: 100% !important;
}

[v-cloak] {
	display: none;
}

/* 设置tabber红点 */
.uni-tabbar__reddot {
	width: 18rpx !important;
	height: 18rpx !important;
	border-radius: 9rpx !important;
}

/* flex布局 */
.flex_box {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

.flex_row_between {
	justify-content: space-between;
}

.flex_row_center {
	justify-content: center;
}

.flex_row_around {
	justify-content: space-around;
}

.flex_row_end {
	justify-content: flex-end;
}

.flex_direction {
	flex-direction: column;
}

.flex_col_top {
	align-items: flex-start;
}

.flex_col_bottom {
	align-items: flex-end;
}

.flex_wrap {
	flex-wrap: wrap;
}

.flex_shrink {
	flex-shrink: 0;
}

.overflow_hidden {
	overflow: hidden;
}

.ft {
	float: left;
}

.rt {
	float: right;
}

.clear {
	clear: both;
}

.padding_24 {
	padding: 0 24rpx;
}

// 空列表
.empty_box {
	padding: 100rpx 0 0;
}

.empty_btn {
	height: 150rpx;
}

image,
img {
	vertical-align: bottom;
}

/* modal框溢出滚动 */
.modal_scroll {
	max-height: 720rpx;
	overflow-y: scroll;
}


/* 分列式弹性盒子，以X轴从左到右排列 */
.h-flex-x {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/*align-items: center;*/
	/*#ifdef H5*/
	padding-top: 3px;
	/*#endif*/
	align-content: center;

	/* 水平左对齐 */
	&.h-flex-left {
		justify-content: flex-start;
	}

	/* 水平居中对齐 */
	&.h-flex-center {
		justify-content: center;
	}

	/* 水平右对齐 */
	&.h-flex-right {
		justify-content: flex-end;
	}

	/* 水平两端对齐 */
	&.h-flex-space {
		justify-content: space-between;
	}

	/* 垂直顶部对齐 */
	&.h-flex-top {
		align-items: flex-start;
		align-content: flex-start;
	}

	/* 垂直底部对齐 */
	&.h-flex-bottom {
		align-items: flex-end;
		align-content: flex-end;
	}

	/* 允许换行 */
	&.h-flex-wrap {
		flex-wrap: wrap;
	}

	/* 等比分列，2-6列 */
	@for $i from 2 through 6 {
		&.h-flex-#{$i} {
			&>view {
				width: (100% / $i);
			}
		}
	}

	/* 弹性元素 */
	&>.h-flex-item-grow {
		flex-grow: 1;
		width: 0;
	}
}

/* 分行式弹性盒子，以Y轴从上到下排列 */
.h-flex-y {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;

	/* 垂直居中对齐 */
	&.h-flex-center {
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	/* 水平左对齐 */
	&.h-flex-left {
		align-items: flex-start;
		align-content: flex-start;
	}

	/* 水平右对齐 */
	&.h-flex-right {
		align-items: flex-end;
		align-content: flex-end;
	}

	/* 垂直两端对齐 */
	&.h-flex-space {
		justify-content: space-between;
	}

	/* 垂直顶部对齐 */
	&.h-flex-top {
		justify-content: flex-start;
	}

	/* 垂直底部对齐 */
	&.h-flex-bottom {
		justify-content: flex-end;
	}

	/* 等比分行，2-6行 */
	@for $i from 2 through 6 {
		&.h-flex-#{$i} {
			&>view {
				height: (100% / $i);
			}
		}
	}

	/* 弹性元素 */
	&>.h-flex-item-grow {
		flex-grow: 1;
		height: 0;
	}
}